# Virtual environment
venv/
env/
*.pyc
__pycache__/

# Django settings and secrets
*.sqlite3
*.log
*.env
.env/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# IDE and editor settings
.vscode/
.idea/
*.swp

# Migrations (optional, if you regenerate them)
**/migrations/*

# Static and media files
staticfiles/
media/

# Git and deployment files
*.bak
*.orig
node_modules/
